<div class="row">
    <div class="col s12 m6">
        <%= form_for(@period) do |f| %>

            <% if @period.errors.any? %>
                <div id="error_explanation" class="card red lighten-5">
                    <div class="card-content">
                        <spam class="card-title"><%= pluralize(@period.errors.count, "error") %></spam><br>
                        <span class="card-title">prohibited this period from being saved:</span>
                        <ul>
                            <% @period.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            <% end %>
        <br>
        <div class="input-field">
            <%= f.label :fecha_inicio %>
            <%= f.text_field :fecha_inicio, :class => "datepicker" %>
        </div>
        <div class="input-field">
            <%= f.label :fecha_finalizacion %>
            <%= f.text_field :fecha_finalizacion, :class => "datepicker" %>
        </div>

        <div class="input-field">
            <%= f.submit :class => "btn red white-text" %>
        </div>

        <% end %>
    </div>
</div>