<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @period.fecha_inicio %>
</p>

<p>
  <strong>Fecha finalizacion:</strong>
  <%= @period.fecha_finalizacion %>
</p>

<%= link_to 'Edit', edit_period_path(@period) %> |
<%= link_to 'Back', periods_path %>
