<div class="container">
	<p id="notice"><%= notice %></p>

	<div class="row">
	  	<div class="col s12 m6 red white-text">
	  		INICIO:
	  	</div><br>
	  	<div class="col m2 red white-text center-align hide-on-med-and-down">
	  		Dia
	  	</div>
	  	<div class="col m2 red white-text center-align hide-on-med-and-down">
	  		Mes
	  	</div>
	  	<div class="col m2 red white-text center-align hide-on-med-and-down">
	  		A&ntilde;o
	  	</div><br class="hide-on-med-and-down">
  		<div class="col s4 m2 red-text center-align">
	  		<%= @period.fecha_inicio.day %>
	  	</div>
	  	<div class="col s4 m2 red-text center-align">
	  		<%= @period.fecha_inicio.month %>
	  	</div>
	  	<div class="col s4 m2 red-text center-align">
	  		<%= @period.fecha_inicio.year %>
	  	</div>
	</div>

	<div class="row">
	  	<div class="col s12 m6 red white-text">
	  		FINALIZACION:
	  	</div><br>
	  	<div class="col m2 red white-text center-align hide-on-med-and-down">
	  		Dia
	  	</div>
	  	<div class="col m2 red white-text center-align hide-on-med-and-down">
	  		Mes
	  	</div>
	  	<div class="col m2 red white-text center-align hide-on-med-and-down">
	  		A&ntilde;o
	  	</div><br class="hide-on-med-and-down">
  		<div class="col s4 m2 red-text center-align">
	  		<%= @period.fecha_finalizacion.day %>
	  	</div>
	  	<div class="col s4 m2 red-text center-align">
	  		<%= @period.fecha_finalizacion.month %>
	  	</div>
	  	<div class="col s4 m2 red-text center-align">
	  		<%= @period.fecha_finalizacion.year %>
	  	</div>
	</div>
	<%= link_to 'Editar', edit_period_path(@period), :class => "btn white red-text" %> |
	<%= link_to 'Atras', periods_path, :class => "btn white red-text" %>
</div>