<nav class="red">
  <div class="container">
    <div class="nav-wrapper">
      <%= link_to 'login', root_path, :class => 'btn red white-text' %>
      <%= link_to 'periods', periods_path, :class => 'btn red white-text' %>
      <%= link_to 'reservations', reservations_path, :class => 'btn red white-text' %>
      <%= link_to 'rooms', rooms_path, :class => 'btn red white-text' %>
      <%= link_to 'users', users_path, :class => 'btn white red-text' %>
    </div>
  </div>
</nav>

<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Identificacion:</strong>
    <%= @user.identificacion %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= @user.nombre %>
  </p>

  <p>
    <strong>Apellidos:</strong>
    <%= @user.apellidos %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Penalizaciones:</strong>
    <%= @user.penalizaciones %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user), :class => "btn white red-text" %> |
  <%= link_to 'Back', users_path, :class => "btn white red-text" %>
</div>