<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="input-field">
    <strong>Identificacion:</strong>
    <%= @user.identificacion %>
  </div>

  <div class="input-field">
    <strong>Nombre:</strong>
    <%= @user.nombre %>
  </div>

  <div class="input-field">
    <strong>Apellidos:</strong>
    <%= @user.apellidos %>
  </div>

  <div class="input-field">
    <strong>Tipo:</strong>
    <%= @user.tipo %>
  </div>

  <div class="input-field">
    <strong>Email:</strong>
    <%= @user.email %>
  </div>

  <div class="input-field">
    <strong>Password:</strong>
    <%= @user.password %>
  </div>

  <div class="input-field">
    <strong>Penalizaciones:</strong>
    <%= @user.penalizaciones %>
  </div>

  <%= link_to 'Edit', edit_user_path(@user), class: "btn white red-text" %> |
  <%= link_to 'Back', users_path, class: "btn white red-text" %>
</div>