<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Listing Reservations</h1>
  <%= link_to 'New Reservation', new_reservation_path, :class => "btn white red-text" %>
  <br>
  <%= week_calendar number_of_weeks: 3, events: @reservations do |date, reservations| %>
    <%= date %>
    <% reservations.each do |reservation| %>
      <div>
        <strong class="green-text">Inicio:</strong> <%= reservation.hora_inicio.strftime("%H:%M") %><br>
        <strong class="green-text">Finalizacion:</strong> <%= reservation.hora_finalizacion.strftime("%H:%M") %><br>
        <%= link_to 'Show', reservation, :class => "blue-text" %>
        <%= link_to 'Edit', edit_reservation_path(reservation), :class => "blue-text" %>
        <%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' }, :class => "red-text" %>
      </div>
    <% end %>
  <% end %>
</div>