<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Fecha:</strong>
    <%= @reservation.fecha %>
  </p>

  <p>
    <strong>Hora inicio:</strong>
    <%= @reservation.hora_inicio %>
  </p>

  <p>
    <strong>Hora finalizacion:</strong>
    <%= @reservation.hora_finalizacion %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @reservation.User %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= @reservation.Room %>
  </p>

  <p>
    <strong>Period:</strong>
    <%= @reservation.Period %>
  </p>

  <%= link_to 'Edit', edit_reservation_path(@reservation) %> |
  <%= link_to 'Back', reservations_path %>
</div>