<div class="container">
    <p id="notice"><%= notice %></p>

    <h1>Salas</h1>

    <div class="row">
        <div class="col s6 m2 l2 hide-on-small-only red center">
            <p class="white-text">NOMBRE</p>
        </div>
        <div class="col s6 m2 l2 hide-on-small-only red center">
            <p class="white-text">EQUIPOS</p>
        </div>
        <div class="col s12 m2 l2 hide-on-small-only red center">
            <p class="white-text">DISPONIBLES</p>
        </div>
        <div class="col s12 m6 l6 hide-on-small-only red center">
            <p class="white-text">ACCIONES</p>
        </div>
    </div>
    <!-- -->
    <% @rooms.each do |room| %>
        <div class="row">
            <div class="col s4 m2 l2 center">
                <p class="hide-on-med-and-up">NOMBRE:</p>
                <p class="red-text"><%= room.nombre %></p>
            </div>
            <div class="col s4 m2 l2 center">
                <p class="hide-on-med-and-up">EQUIPOS:</p>
                <p class="red-text"><%= room.cantidad_total %></p>
            </div>
            <div class="col s4 m2 l2 center">
                <p class="hide-on-med-and-up">DISPONIBLES:</p>
                <p class="red-text"><%= room.cantidad_disponible %></p>
            </div>
            <div class="col s12 m6 l6 right">
                <%= link_to '<i class="material-icons hide-on-med-and-down right">close</i>Eliminar'.html_safe, room, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn red white-text right" %>
                <%= link_to '<i class="material-icons hide-on-med-and-down right">edit</i>Editar'.html_safe, edit_room_path(room), :class => "btn white red-text right" %>
                <%= link_to '<i class="material-icons hide-on-med-and-down right">slideshow</i>Ver'.html_safe, room, :class => "btn white red-text right" %>
            </div>
        </div>
    <% end %>

    <br>

    <%= link_to 'New Room', new_room_path, :class => "btn white red-text" %>
</div>