<div class="container">
	<div class="row">
		<div class="col s12 m6">
			<h1>Nueva Sala</h1>

			<%= form_for(@room) do |f| %>
				<% if @room.errors.any? %>
					<div id="error_explanation" class="card red lighten-5">
						<div class="card-content">
							<spam class="card-title"><%= pluralize(@room.errors.count, "error") %></spam><br>
							<spam class="card-title">prohibited this room from being saved:</spam>
							<ul>
								<% @room.errors.full_messages.each do |message| %>
								<li><%= message %></li>
								<% end %>
							</ul>
						</div>
					</div>
				<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m6">
				<div class="input-field">
					<%= f.label :nombre %>
					<%= f.text_field :nombre %>
				</div>
		</div>
		<div class="col s12 m3">
				<div class="input-field">
					<%= f.label :cantidad_total %>
					<%= f.number_field :cantidad_total %>
				</div>
		</div>
		<div class="col s12 m6">
				<div class="actions">
					<%= f.submit :class => "btn red white-text" %>
				</div>
			<% end %>
		</div>
	</div>
	<%= link_to 'Back', rooms_path, :class => "btn white red-text" %>
</div>