<!DOCTYPE html>
<html>
<head>
  <title>SalaSistemas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<nav class="red">
		<div class="container">
			<ul>
				<li>
					<%= link_to periods_path do %>
						<i class="material-icons left">date_range</i>
						PERIODS
					<% end %>
				</li>
				<li>
					<%= link_to reservations_path do %>
						<i class="material-icons left">event</i>
						RESERVATIONS
					<% end %>
				</li>
				<li>
					<%= link_to rooms_path do %>
						<i class="material-icons left">room</i>
						ROOMS
					<% end %>
				</li>
				<li>
					<%= link_to users_path do %>
						<i class="material-icons left">account_circle</i>
						USERS
					<% end %>
				</li>
			</ul>
		</div>
	</nav>
</header>

<main>
	<%= yield %>
</main>

<footer class="page-footer white">
	<div class="footer-copyright">
		<div class="container black-text">
			© 2016 Universidad del Valle - sede Carbonera
		</div>
	</div>
</footer>
</body>
</html>
