<!DOCTYPE html>
<html>
<head>
  <title>SalaSistemas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- 
<nav class="red">
	<div class="container">
		<div class="nav-wrapper">
			<%= link_to 'login', root_path, :class => 'btn red white-text' %>
			<%= link_to 'start', root_path, :class => 'btn red white-text' %>
			<%= link_to 'periods', periods_path, :class => 'btn red white-text' %>
			<%= link_to 'reservations', reservations_path, :class => 'btn red white-text' %>
			<%= link_to 'rooms', rooms_path, :class => 'btn red white-text' %>
			<%= link_to 'users', users_path, :class => 'btn red white-text' %>
		</div>
	</div>
</nav>
-->

<%= yield %>

</body>
<script type="text/javascript">

</script>
</html>
